
#sideBar {
    position: fixed;
    background-color: rgba(19, 19, 20, 0.904);
    width : 200px;
    height: 100vh;
    font-family: sans-serif;
    left : -200px;
    transition : all 500ms linear
}
#sideBar.active {
    left : 0px
}
.sideList {
    list-style : none;
    margin: 0;
    padding: 0;
    color : whitesmoke
}
.sideList li {
    padding : 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
.sideList li:hover {
    background-color: rgba(100, 100, 100, 0.3) ;
}
.toggle-btn {
    position: absolute;
    left : 230px;
    top : 20px;
    border : none;
    background-color: white;
}
