
body {
   min-height: 100%;
   min-width: 100%;
}
body::-webkit-scrollbar {
width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: rgb(61, 55, 50);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: rgb(206, 148, 74);
    border: solid rgb(83, 47, 0) thin;
    border-radius: 10px;
}
#sideBar {
    position: fixed;
    background-color: rgba(19, 19, 20, 0.904);
    width : 200px;
    height: 100vh;
    font-family: sans-serif;
    left : -200px;
    transition : all 250ms linear;
    z-index: 100;
}
#sideBar.active {
    left : 0px
}
.sideList {
    list-style : none;
    margin: 0;
    padding: 0;
    color : whitesmoke;
    font-size: 20px;
    font-family: 'Montserrat';
}
.sideList li {
    padding : 15px 10px;
    border-bottom: 1px solid rgba(100, 100, 100, 0.3);
}
.sideList li:hover {
    background-color: rgba(100, 100, 100, 0.3) ;
    cursor: pointer;
}
.toggle-btn {
    position: absolute;
    left : 230px;
    top : 20px;
    border : none;
    background-color: none;
    background: none;
    color: whitesmoke;
}
#background {
    background-image: url('./assets/toronto.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: fixed;
    height : 100%;
    width : 100%;
}
.container {
    /* width: 100vh; */
    max-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    margin-bottom: 200px;
    padding: 0;
}
.header {
    padding: 10px 0 0 0;
    text-align: center;
    font-family:  'Montserrat';
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
    opacity : 0.8;
    background-color: rgba(19, 19, 20, 0.904);
    width: 100%;
    border-bottom: 3px solid rgba(100, 100, 100, 0.3);

}
#info {
    width : 80%;
    max-width: 1000px;
    display: block;
    margin : 5% auto;
    margin-bottom: 10%;
}

#profilePic {
    width : 70%;
    min-width: 200px;
    height: auto;
    border : solid whitesmoke;
    border-style: groove;
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    display: block;
    margin: auto;
}
#bio {
    text-align: center;
    padding-top: 5%;
    font-family: 'Montserrat';
    color: whitesmoke;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 5px 5px 5px #000000de;
}
#icons {
    color: whitesmoke;
    float: right;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
#icons a {
    color: whitesmoke;
}
#icons i {
    border: whitesmoke solid;
    margin: 5px;
    padding: 5px;
    height : 45px;
    width : 45px;
    cursor: pointer;
}
.showBox {
    position: relative;
    z-index: 2;
    display: block;
    margin: auto;
    margin-bottom: 100px;
    background-color: rgba(19, 19, 20, 0.904);
    box-shadow: 5px 5px 10px 5px rgba(0, 0, 0, 0.3);
    height : fit-content;
    width : 95%;
    max-width: 1000px;
}
.boxTitle {
    display: block;
    margin: auto;
    margin-bottom: 10px;
    color: whitesmoke;
    padding : 10px;
    opacity: 0.95;
    width : 90%;
    border-bottom: 2px solid rgba(100, 100, 100, 0.3);
}
.boxRow {
    width: fit-content;
    height: fit-content;
    margin: 10px 0;
}
.image {
    height: 250px;
    max-height: 300px;
    width: 100%;
    background-color: wheat;
    display: block;
    margin : auto;
    justify-content: center;
    align-items: center;
    object-fit: cover;
}
/* .imgTitleRow {

} */
.imgTitle{
    color: whitesmoke;
    opacity: 0.8;
    text-align: center;
    font-family: 'Montserrat';
    margin-top: 10px;
    margin-bottom: 15px;
}
#footer {
    position: fixed;
    z-index: 5;
    width: 100%;
    height: fit-content;
    background-color: rgba(19, 19, 20, 0.904);
    bottom : 0px;
    border-top: 2px solid rgba(100, 100, 100, 0.3);
    color: whitesmoke;
    font-family: 'Montserrat';
    text-align: center;
    padding : 5px
}
#contact {
    font-size: 25px;
    font-weight: bold;
}
@media screen and (max-width: 770px) {
  .showBox{
      max-width: 450px;
  }
}

@media screen and (max-width: 500px) {
    .toggle-btn {
      left : 220px;
      top : 90px;
  }
}